doctype html
head
  meta(charset='utf-8')
  title Sign in · Squared BJJ
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  link(href='/css/bootstrap-responsive.css', rel='stylesheet')
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='/pics/squared.png')
body
  .container
    form.logo-space
    form.form-register
      h1(style='text-align: center;') Register
      form-group
        label.h5 First Name
        input.form-control(name='username',type='text', placeholder='First Name')
      form-group
        label.h5 Last Name
        input.form-control(name='username',type='text', placeholder='Last Name')
      form-group
        label.h5 Email Address
        input.form-control(name='Email Address',type='text', placeholder='Email Address')
      form-group
        label.h5 Password
        input.form-control(name='password',type='password', placeholder='Password')
        label.h5 Re-enter Password
        input.form-control(name='password2',type='password', placeholder='Please re-enter password')
      input.btn.btn-dark(type='submit',value='Submit')